[submodule "emacs/emacs.d/elpa/claude"]
	path = emacs/emacs.d/elpa/claude
	url = https://github.com/stevemolitor/claude-code.el
[submodule "emacs/emacs.d/elpa/monet"]
	path = emacs/emacs.d/elpa/monet
	url = https://github.com/stevemolitor/monet
